<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet"  href="css/home.css">
</head>
<body>

    {{#if session.user}}
        <form action="/logout?_method=DELETE" method="POST" id="logout_user">
            <input type="submit" value="Cerrara sesion">
        </form>
        <b> {{ session.user.email }} </b>
    {{/if}}
    
    {{{ body }}}

    <script src="js/app.js"></script>
</body>
</html>