<h1>Nuevo Usuario</h1>

<form action="/users" method="POST">
    <input type="text" name="first_name" placeholder="Ingresa tu nombre">
    <input type="text" name="last_name" placeholder="Ingresa tus apellidos">
    <input type="email" name="email" placeholder="Ingresa tu email">
    <input type="password" name="password" placeholder="ingresa tu contrasenia">

    <label for="type">Tipo de usuario</label>
    <select name="type" id="type">
        <option value="USER_TYPE">USER_TYPE</option>
        <option value="ADMIN_TYPE">ADMIN_TYPE</option>
    </select>

    <input type="submit" value="Guardar">
</form>